html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #54463A;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.test-area {
  display: flex;
  align-items: center;
}

.textdata {
  display: flex;
  align-items: center;
  background-color: #28241d;
  border-radius: 5px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 50vh;
  height: 30vh;
  margin-top: 10vh;
  color: rgb(185, 185, 185);
  font-size: 25px;
}
.textdata p{
  margin-left: 5vh;
}

.textdata .activetext {
  color: white;
  font-size: 25px;
}

.container-options{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vh;
  height: 30vh;
  background-color: #28241d;
  border-radius: 5px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-right: 20vh;
}

.container-options button {
  width: 13vh;
  height: 9vh;
  cursor: pointer;
  color: black;
  font-size: 17px;
  background-color: #e2c49b;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.container-options button:hover {
  width: 14vh;
  height: 10vh;
}

.container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80vh;
  height: 80vh;
  background-color: #28241d;
  border-radius: 5px;
  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.4);
  transition: all 1s ease-in;
  
}

.box {
  background-color: white;
  width: 8vh;
  height: 8vh;
  box-shadow: 3px 2px 6px 2px rgba(0,0,0,0.73);
  transition: all 1s ease-in;
}


.btn.center{
  background-color: #796350;
  color:rgb(206, 205, 205);
  border: 1px solid white;
}
.btn.flex-end{
  background-color: #493d33;
  color: rgb(206, 205, 205);
  border: 1px solid white;
}